.wrapper--conduct-test {
  padding: 24px;
  margin: 24px;
  background-color: white;
  border-radius: 8px;
  border: 1px solid rgb(245, 245, 245);
  height: 100%;
}

.conduct-test--info {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.question {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.question--des {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.wrapper--question-info {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.question-no {
  font-weight: bold;
}

.question-info {
  display: flex;
  flex-direction: column;
}

.question-info--text {
  font-weight: bold;
}

.question--options {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.question--option {
  display: flex;
  align-items: center;
  gap: 8px;
}

.question--option--info {
  display: flex;
  flex-direction: column;
}
